<!DOCTYPE html>
<html>
<head>
	<title>Informacion Druida</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		body {
			background-color: rgba(255, 255, 255, 0.5);
			background-image: url({{ url_for('static', filename='images/Background.jpg') }});
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
        th {
            background-color: #95A5A6;
            box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
        }
        tr:nth-child(even) {
            background-color: #d3d6da;
            box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
        }
		tr:nth-child(odd) {
            background-color: #ffffff;
            box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
        }
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
        }
		h2 {
			color: white;
		}
		h3 {
			color: white;
		}
    </style>
</head>
<body>
<div class="container">

	<h2>Informacion Druida</h2>

	<form method="POST" action="{{ url_for('index') }}">
		<div class="form-group">
			<label style="color: white; for="sheet_name">Seleccione una Tabla:</label>
			<select class="form-control" id="sheet_name" name="sheet_name" onchange="this.form.submit()">
				{% for sheet_name in sheet_names %}
					<option value="{{ sheet_name }}" {% if selected_sheet == sheet_name %} selected {% endif %}>{{ sheet_name }}</option>
				{% endfor %}
			</select>
		</div>
	</form>

	{% if selected_sheet %}
		<hr>
		<h3>{{ selected_sheet }}</h3>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						{% for col in dataframes[selected_sheet].columns %}
							<th>{{ col }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for row in dataframes[selected_sheet].itertuples() %}
						<tr>
							{% for value in row[1:] %}
								<td>{{ value }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>	
	{% endif %}

	<form method="POST" action="{{ url_for('index') }}">
		<div class="form-group">
			<label style="color: white; for="pdf_index">Seleccione un PDF:</label>
			<select class="form-control" id="pdf_index" name="pdf_index" onchange="this.form.submit()">
				<option value=""></option>
				{% for i in range(pdf_urls|length) %}
					<option value="{{ i }}" {% if selected_pdf == pdf_urls[i] %} selected {% endif %}>{{ pdf_titles[i] }}</option>
				{% endfor %}
			</select>
		</div>
	</form>

	{% if selected_pdf_url %}
	<hr>
		<embed  src="{{ url_for('static', filename=selected_pdf_url) }}" width="100%" height="500px" type="application/pdf"></iframe>
	{% endif %}

	
</div>

</body>
</html>
