<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Druida APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-primary {
            background-color: rgba(13, 31, 135, 0.653);
            color: white;
            border: none;
        }
        .btn-primary:hover {
            background-color: rgba(9, 25, 97, 0.955);
        }
        th {
            background-color: #95A5A6;
            box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
        }
        tr:nth-child(even) {
            background-color: #d3d6da;
            box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
        }
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <div class="container-fluid mt-3">
        <form method="post" class="form-inline mb-3">
            <div class="form-group">
                <select class="form-control mr-2" name="sheet_name">
                    {% for sheet_name in sheet_names %}
                    <option value="{{ sheet_name }}" {% if sheet_name == selected_sheet %}selected{% endif %}>{{ sheet_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Cargar Tabla</button>
            </div>
        </form>
        {% if selected_sheet %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for col in dataframes[selected_sheet].columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                        {% if pdf_urls %}
                        <th>PDF</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in dataframes[selected_sheet].itertuples(index=False) %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                        {% if pdf_urls %}
                        <td>
                            {% if pdf_urls[row.Index] %}
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#pdfModal{{ row.Index }}">View PDF</button>
                            <div class="modal fade" id="pdfModal{{ row.Index }}" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="pdfModalLabel">{{ row[0] }} PDF</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe src="{{ pdf_urls[row.Index] }}" width="100%" height="600px"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>